<!- extends - метод наследования 'указываем путь и что откуда наследуем ->
{% extends 'main/layout.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        {% load static %}
        <img src="{% static 'main/img/architect-1080589__340.jpg' %}">
        <img src="{% static 'main/img/craftsmen-3094035__340.jpg' %}">
        <img src="{% static 'main/img/electrician-1080554__340.jpg' %}">
        <img src="{% static 'main/img/painter-1180676__340.jpg' %}">
    </main>
</body>
</html>
{% endblock %}
